.druppel {  
            z-index: 0;
            position: relative;
            width: 100px;
            height: 100px;
            user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            -webkit-user-drag: none;          
}

@media screen and (max-width: 1024px){
    .levens {
            position: absolute;
            left: 75%;
            font-size: 8px;
    }
    
}

@media screen and (max-width: 1024px){
    .score {
            position: absolute;
            left: 75%;
            font-size: 8px;
            top: 8%;
    }
    
}

#spel {    
            height: 100%;
            width: 100%;
            position: fixed;
            background-image: url(achtergrond.jpg);
            background-repeat: no-repeat;
            background-size: cover;
}

@media screen and (min-width: 1024px){
    .levens {  
            z-index: 1;
            position: absolute;
            top: 1%;
            left: 90%;
            font-size: 25px;                
    }
}

@media screen and (min-width:1024px){
.score {
            z-index: 1;
            position: absolute;
            top: 4%;
            left: 90%;
            font-size: 25px;            
    }
}

p {
            text-align: center;
            font-size: 25px;
            color: aqua;
}

#Startscherm {  
            z-index: 0;
            height: 100%;
            width: 100%;
            position: fixed;
            background-image: url(huis.png);
            background-repeat: no-repeat;
            background-size: cover;                   
}

h1 {
            color: aqua;
            font-family: cursive;
            font-size: 60px;
            text-align: center;       
}

h2 {
            color: aqua;
            font-family: cursive;
            font-size: 40px;
            position: absolute;
            left: 20%;
}

#Startscherm blockquote {
            color: aqua;
            font-family: cursive;
            font-size: 20px;
            position: absolute;
            left: 20%;
            top: 30%;    
            background: rgba(132, 212, 246, .4);
            border-color: blue;
            border-style: solid;
}

#Startscherm img {           
            position: absolute;
            top: 80%;
            left: 70%;
            cursor: pointer;
}

#btn-group button {
            color: black;
            padding: 10px 24px;
            cursor: pointer; 
            float: left;
            width: 33.3%;
}

#btn-group button:not(:last-child) {
            border-right: none; 
}

#btn-group button:hover {
            background-color: aquamarine;
            
}


#btn-group {
            width: 100%;
            position: absolute;
            top: 75%;
}

.Button:active, .active {
            background-color:aqua;
            color: white;
}

#naam {
            font-size: 20px;
            color: aqua;
            text-align: center;
}

#Eindscherm {
            height: 100%;
            width: 100%;
            position: fixed;
            background-repeat: no-repeat;
            background-size: cover;  
}

#highscores {           
            position: absolute;
            left: 35%;
            top: 40%;
            background-color: black;
            opacity: 0.5;
            color: aqua;
            border-style: double;   
            font-size: 50px;
            padding-bottom: 60px;
}

td {
            padding-left: 75px;
            padding-right: 75px;
            font-family: fantasy;
            font-size: 20px;
            color: aqua;
            border: none;
}

table {
            counter-reset: rowNumber;
}

table tr > td:first-child{
            counter-increment: rowNumber;
}

table tr td:first-child::before {
            content: counter(rowNumber);
            min-width: 5px;
            margin-right: 70px;
            color: white;
            opacity: 1;
}

#opnieuw {
            position: absolute;
            top: 80%;
            left: 80%;
            background-color: aqua;
            border-style: dotted;
            border-color: blue;
            font-family: fantasy;
            font-size: 25px;
}


#naamInput {           
            top: 20%;
            background-color: black;
            position: absolute;
            width: 70%;
            height: 40%;
            z-index: 20;
            left: 15%;
            opacity: 0.9;
            text-align: center;
}

#naamInput h1 {
            color: white;
}

.overlay {
            z-index: 10;
            height: 100%;
            width: 100%;
            background: #e9e9e9;
            position: absolute;
            opacity: 0.5;
}


#error {
            color: red;
            font-size: 20px;
            font-style: italic;
}


